<header class="header">
  <section class="header__container d-flex justify-content-between gap-4">
    <div class="header__info-container">
      <figure class="header__logo">
        <img src="/assets/logos/logo-memoteca.png" alt="Logo da Memoteca" />
      </figure>
      <h2 class="header__info-text h2__secondary">
        Guarde trechos de músicas, citações de livros, pensamentos e suas
        melhores ideias.
      </h2>
    </div>
    <figure class="header__banner-image d-none d-lg-block">
      <img
        src="/assets/images/figure-banner-image.png"
        alt="imagem de notebook"
      />
    </figure>
  </section>
</header>
