<div class="thought-card thought-card--dark-blue">
  <div class="thought-car__header">
    <figure class="thought-card__icon">
      <img src="/assets/icons/icon-quote-dark-blue.svg" alt="ícone de áspas" />
    </figure>
  </div>
  <div class="thought-card__body">
    <p class="thought-card__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo.
    </p>
    <p class="thought-card__author mt-4">Autora da Silva Sauro</p>
  </div>
  <div class="thought-car__footer"></div>
</div>
