$dark-blue: #154580;
$dark-gray: #444;
$mint-green: #84eec1;
$off-white: #f1ede9;
$sky-blue: #6bd1ff;
$white: #fff;

$font-family-base: "Roboto Mono", monospace;
$font-family-secondary: "Inconsolata", monospace;

$breakpoints: (
  "xsm": 360px,
  "sm": 576px,
  "md": 768px,
  "lg": 1024px,
  "xl": 1200px,
  "xxl": 1500px
);
