<footer class="footer">
  <section
    class="footer__container container d-flex align-items-center justify-content-between text-white gap-4"
  >
    <p class="footer__copyright">
      © 2022 Grupo Alura. Todos os direitos reservados.
    </p>
    <figure class="footer__logo">
      <img src="../../../../assets/logos/logo-alura.png" alt="logo Alura" />
    </figure>
    <p class="footer__copyright opacity-0">
      © 2022 Grupo Alura. Todos os direitos reservados.
    </p>
  </section>
</footer>
