<section class="thought-wall container">
  <h2 class="thought-wall__title h2__primary text-center fw-bold">Meu mural</h2>
  <div class="d-flex justify-content-center mb-5">
    <app-button routerLink="/add-thought"> Adicionar pensamento </app-button>
  </div>
  <ul class="thought-wall__list">
    <li class="thought-wall__item">
      <app-thought-card></app-thought-card>
    </li>
    <li class="thought-wall__item">
      <app-thought-card variant="sky-blue"></app-thought-card>
    </li>
    <li class="thought-wall__item">
      <app-thought-card variant="mint-green"></app-thought-card>
    </li>
  </ul>
</section>
